<table>
  <thead>
    <tr>
      <th class="name">NOME</th>
      <th>CRIADO POR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Tag 1
      </td>
      <td>
        Emilia Souza
        <div class="actButtons">
          <span class="actButton">Editar</span>
          <span class="actButton">Excluir</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Tag 1
      </td>
      <td>
        Emilia Souza
      </td>
    </tr>
    <tr>
      <td>
        Tag 1
      </td>
      <td>
        Emilia Souza
      </td>
    </tr>
  </tbody>
</table>
