<div class="formWrapper">
  <h2>Cadastrar Evento</h2>
  <form>
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-input" id="title" placeholder="Evento..">
    </div>

    <div class="form-group">
      <label for="description">Descrição</label>
      <textarea class="form-input" id="description" placeholder="Descrição do evento..."></textarea>
    </div>

    <div class="form-group">
      <label for="priority">Prioridade</label>
      <input type="number" class="form-input" id="priority" placeholder="0">
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-input" id="status">
        <option *ngFor="let s of status" [value]="s">{{s}}</option>
      </select>
    </div>

    <button type="submit" class="btn-submit">Cadastrar</button>
  </form>
</div>
