<div class="formWrapper">
  <h2>Cadastrar Evento</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-input" id="title" placeholder="Evento.." name="title" [(ngModel)]="eventModel.title">
    </div>

    <div class="form-group">
      <label for="description">Descrição</label>
      <textarea class="form-input" id="description" placeholder="Descrição do evento..." name="description"
                [(ngModel)]="eventModel.description"></textarea>
    </div>

    <div class="form-group">
      <label for="priority">Prioridade</label>
      <input type="number" class="form-input" id="priority" placeholder="0" name="priority" [(ngModel)]="eventModel.priority">
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-input" id="status" name="status" [(ngModel)]="eventModel.status">
        <option *ngFor="let s of stts" [value]="s">{{s}}</option>
      </select>
    </div>

    <button type="submit" class="btn-submit">Cadastrar</button>
  </form>
</div>
