<div class="modalTag" (click)="callClose()">
    <div (click)="clickedBox($event)" class="box">
      <div class="title">
        {{act}} tag
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="commonForm">

        <label class="commonLabel">Nome</label>
        <input name="name" [(ngModel)]="selectedTag.name" class="commonInput" required #name="ngModel"/>

        <label class="commonLabel">Detalhes</label>
        <input name="detail" [(ngModel)]="selectedTag.detail" class="commonInput" required #detail="ngModel"/>

        <div class="buttonHolder">
          <button type="submit" [disabled]="f.invalid" class="commonButton big">Salvar</button>
        </div>
      </form>
    </div>
</div>
