.loginWrapper {
  height: 100%;
  width: 100%;
  background-color: #EEEBE5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  width: 500px;
  background-color: #fff;
  border-radius: 8px;
}

.error {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D84315;
}

.title {
  padding: 40px 0;
  text-align: center;
  margin: 0 32px;
  border-bottom: 1px solid #ECECEC;
  font-weight: bold;
  font-size: 26px;
}

.buttonHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
