* {
  font-family: Arial, sans-serif;
}

.box {
  margin: 32px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted black;
  height: 72px;
}

.success {
  background-color: #c6f68d;
}

.info {
  background-color: #BBDEFB;
}

.alert {
  background-color: #FFF59D;
}

.error {
  background-color: #EF5350;
}

.btn {
  color: #fff;
  padding: 8px 16px;
  background-color: #1976D2;
  border-radius: 5px;
  border: 0;
}

.btn:hover {
  background-color: #0D47A1;
}

.highlight {
  color: #fff;
  background-color: #D84315;
  font-weight: bold;
}
